<mat-card class="card-container">

  <mat-card-title class="titulo-toDo">{{ titulo }}</mat-card-title>
  <mat-card-subtitle class="sub-toDo">{{ subtitulo }}</mat-card-subtitle>

  <mat-card-actions appearance="fill">

    <div>
      <input class="input-toDo"
      type="text"
      placeholder="Liste a sua tarefa aqui..."
      #addItens
      (keyup.enter)="adicionarItems(addItens.value)">
      <button class="btn-primary"
      mat-raised-button
      color="primary"
      (click)="adicionarItems(addItens.value)"
      appEstilizaButton>
        <mat-icon>add</mat-icon>
      </button>
    </div>

    <mat-list *ngFor="let items of itemDadoStorage; let idx = index" class="list-toDo">

      <div>
        {{ items }}  
        <button
        mat-raised-button color="warn"
        (click)="removeItems(idx)"
        (click)="buttonEvent()">
          <mat-icon>delete_sweep</mat-icon>
        </button>
      </div>

    </mat-list>
    
    <div class="clear-toDo">
      <p>Adicionou {{ itemDadoStorage.length }}° na sua lista</p> <button 
      class="btn-secundary" 
      mat-raised-button
      color="warn" 
      (click)="removerTodaLista()"
      (click)="buttonEvent()">
        <mat-icon>clear</mat-icon>
      </button>
    </div>
    
  </mat-card-actions>
</mat-card>